.container {
  max-width: 120rem;
  margin: 0 auto;

  .notHaveTodos {
    border-top: 2px solid #333333;
    margin-top: 3rem;

    .notHaveTodosContent {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 20rem;

      img {
        margin-bottom: 2rem;
      }

      h4 {
        font-size: 1.6rem;
        font-weight: 800;
        color: #808080;
      }

      p {
        font-size: 1.6rem;
        color: #808080;
      }
    }
  }

  .todosContainer {
    margin-top: 2rem;

    .teste {
      display: flex;
    }

    ul {
      li {
        display: flex;
        justify-content: space-between;
        background: #333333;
        padding: 3rem;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        color: #f2f2f2;
        list-style: none;
        font-size: 1.6rem;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        border: 1px solid #333333;
        margin-bottom: 1.5rem;

        input[type="radio"] {
          margin-right: 2rem;
        }

        .lineThrough {
          text-decoration: line-through;
        }

        .line {
          text-decoration: none;
        }

        .icon {
          cursor: pointer;
          &:hover {
            color: #ff0e0e;
          }
        }
      }
    }

    h3 {
      font-size: 1.6rem;
      color: #4ea8de;
      margin-bottom: 2.5rem;

      span {
        padding: 0.2rem 0.8rem;
        background: #333333;
        color: gray;
        border-radius: 8px;
        margin-left: 1rem;
      }
    }
  }

  .inputContent {
    display: flex;
    gap: 8px;
    margin-top: -26px;

    input {
      width: 100%;
      padding: 1.6rem;
      background: #262626;
      border: 1px solid #0d0d0d;
      border-radius: 8px;
      outline: none;
      font-size: 1.6rem;

      &::placeholder {
        color: #808080;
        font-size: 1.6rem;
      }

      &:focus {
        color: #fff;
      }
    }

    button {
      padding: 1.6rem;
      max-width: 9rem;
      background: #1e6f9f;
      border-radius: 8px;
      color: #fff;
      border: none;
      cursor: pointer;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #50ade4;
      }
    }
  }
}
