:root {
  --mainBg: #1a1a1a;
  --bgHeader: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--mainBg);
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}
